@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Poppins:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html, body{
    height: 100vh;
}

.login .header{
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
}
.login .header a{
    margin-left: auto;
    color: #7c7c7c
}

.register, .login{
    font-family: 'Noto Sans TC', sans-serif;
    width: 500px;
    margin: 0 auto;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

.register h3{
    margin: 20px 0;
}

.register form,
.login form {
    width: 100%;
}

.register input,
.login input {
    margin-bottom: 8px;
}