@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Poppins:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    padding-top: 140px;
}

header,
.header-right,
.search,
.tab,
footer .container,
.footer-right {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.nav-link {
    margin-right: auto;
}

.nav-link a {
    position: relative;
}

.nav-link a+a::before {
    content: '|';
    position: absolute;
    left: 0;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 140px;
    padding: 0 60px;
    border-bottom: 40px solid #313538;
    box-sizing: border-box;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo img {
    width: 258px;
    height: 48px;
    margin-right: 40px;
}

.category {
    font-size: 0px;
}

.category a {
    color: #3F3A3A;
    font-size: 20px;
    letter-spacing: 1.5em;
    padding-left: 1.5em;
}

.category a:hover label {
    color: #8B572A;
}

.header-right .img {
    width: 44px;
    aspect-ratio: 1 / 1;
    margin-left: 28px;
}

.search {
    position: relative;
}

.search input[type="search"] {
    color: #8B572A;
    font-size: 20px;
    width: 214px;
    height: 44px;
    line-height: 24px;
    padding: 0 20px;
    border: 1px solid #979797;
    border-radius: 20px;
}

.search label {
    position: absolute;
    right: 8px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:active {
    outline: none;
}

.icon-cart {
    background-image: url(/images/cart.png);
}

.icon-cart:hover {
    background-image: url(/images/cart-hover.png);
}

.icon-profile {
    background-image: url(/images/member.png);
}

.icon-profile:hover {
    background-image: url(/images/member-hover.png);
}

#carouselExampleIndicators {
    margin-bottom: 50px;
}

#carouselExampleIndicators img {
    height: 500px;
}

#carouselExampleIndicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
}
#carouselExampleIndicators button.active{
    background-color: #8B572A;
}

.product-container,
footer .container {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: center; */
}

.wrap .item {
    margin: 20px 20px 40px;
}

.product-img {
    width: 360px;
    height: auto;
}

.details {
    color: #3F3A3A;
    font-size: 20px;
}

.colors {
    margin: 20px 0;
}

.color {
    display: inline-block;
    width: 24px;
    aspect-ratio: 1 / 1;
    border: 1px solid #D3D3D3;
    margin-right: 10px;
    box-sizing: border-box;
}

#price {
    margin: 10px 0;
}

footer {
    background-color: #313538;
    height: 115px;
    margin-top: 70px;
    padding: 0 20px;
}

footer .container {
    height: 100%;
}

footer .nav-link {
    display: flex;
    text-align: center;
}

footer .nav-link a {
    width: 134px;
    color: #F5F5F5;
    font-size: 16px;
}

.footer-right img {
    width: 50px;
    margin-right: 30px;
}

.copyright,
footer .nav-link a+a::before {
    color: #828282;
}

.tab-item label,
#control-search {
    display: none;
}